<!DOCTYPE html>

<!--
Copyright 2016 the project authors as listed in the AUTHORS file.
All rights reserved. Use of this source code is governed by the
license that can be found in the LICENSE file.
-->

<html>
  <head>
    <title><DASHBOARD_TITLE></title>

    <script src="/socket.io/socket.io.js"></script>

    <script>
      socket = new io.connect('<URL_TYPE>://' + window.location.host);
      socket.on('data', function(data) {
        var type = data.type;
        if (data.type === 'ENTRY_STATUS') {
          var targetTD = document.getElementById(data.buttonId);
          if (null != targetTD) {
            if (data.state === 'GREEN') {
              targetTD.style.background = 'green';
            } else if (data.state === 'AMBER') {
              targetTD.style.background = 'yellow';
            } else if (data.state === 'RED') {
              targetTD.style.background = 'red';
            }
          }
        }
      });

      var sendButton = function(buttonId) {
        socket.emit('button',buttonId);
        var button = document.getElementById("button" + buttonId)
        button.style.opacity = 0.5
        setTimeout(function() { button.style.opacity = 1 }, 300);
      }
    </script>
  </head>

  <body>
<BUTTONS>
  </body>
</html>
